:root {
  --soft-blue: #53aad1;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Quicksand";
}

body {
  background: linear-gradient(180deg, #083a5f 16.69%, #010c14 100%);
  background-repeat: no-repeat;
  min-width: 280px;
  height: auto;
}
a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
}
nav .nav-center {
  display: flex;
  align-items: center;
  list-style: none;
}
nav .nav-center li {
  color: white;
  margin: 20px;
  font-size: 1.5rem;
  display: flex;
}

nav .nav-center .home-icon {
  background-image: url("./Assets/piramide-home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
}

nav .nav-center .menu-icon {
  background-image: url("./Assets/menu-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
}
nav .nav-center .logo {
  background-image: url("./Assets/time-traveler-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 80px;
  height: 80px;
}
.quote--container {
  margin: 0 auto;
  width: 150px;
  height: auto;
}
.quote {
  color: white;
  font-weight: 300;
  text-align: right;
}
.quote span {
  color: var(--soft-blue);
}
div .menu-images a {
  color: white;
  font-size: 1.5rem;
}
.menu-images--container {
  display: grid;
  place-content: center;
}
.menu-images {
  display: grid;
  grid-template-rows: 150px 150px;
  grid-auto-columns: 150px;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  list-style: none;
  gap: 25px;
  padding-top: 30px;
  padding-bottom: 100px;
}
.menu-images img {
  border-radius: 30px;
  max-width: 60px;
  height: auto;
  place-self: center;
}
.menu-images .pet-portraits {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-images span {
  display: grid;
  text-align: center;
}
.pencil-drawings {
  background: transparent linear-gradient(180deg, #02111b 100%, #083a5f 100%%)
    0% 0% no-repeat;
}
.pencil-drawings h2 {
  color: white;
  font-size: 3.5rem;
  text-align: center;
  padding: 15px;
}
.pencil-drawings h2 span {
  font-weight: 300;
}
hr {
  border: 0.5px solid var(--soft-blue);
  width: 150px;
}
.pencil-drawings .wrapper {
  padding: 100px;
}
.pencil-drawings .skewed {
  margin: 20px;
  width: 120px;
  height: 100px;
  transform: skewX(-30deg);
  overflow: auto;
  position: relative;
}
.pencil-drawings .skewed img {
  margin: 20px;
  max-width: 180px;
  transform: skewX(30deg);
  position: absolute;
  top: -30px;
  left: -48px;
}
.pencil-drawings .skewed-transparent {
  margin: 20px;
  width: 350px;
  height: 300px;
  transform: skewX(-30deg);
  overflow: auto;
  position: relative;
}

.pencil-drawings .skewed-transparent img {
  max-width: 280px;
  opacity: 50%;
  transform: skewX(30deg);
  position: absolute;
  top: -30px;
  left: -60px;
}
