:root {
  --soft-blue: #53aad1;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Quicksand";
}
body {
  width: 100vw;
  height: auto;
}

header {
  background: linear-gradient(180deg, #083a5f 16.69%, #010c14 100%);
  background-repeat: no-repeat;
  min-width: 320px;
  height: auto;
}
a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
}
nav .nav-center {
  display: flex;
  align-items: center;
  list-style: none;
}
nav .nav-center li {
  color: white;
  margin: 20px;
  font-size: 1.5rem;
  display: flex;
}

nav .nav-center .home-icon {
  background-image: url("./Assets/piramide-home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
}

nav .nav-center .menu-icon {
  background-image: url("./Assets/menu-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
}
nav .nav-center .logo {
  background-image: url("./Assets/time-traveler-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 80px;
  height: 80px;
}
h1 {
  color: white;
  text-align: center;
  font-family: "Raleway";
  padding-bottom: 15px;
  font-size: 3.5rem;
  font-weight: 100;
}
.quote--container {
  margin: 0 auto;
  width: 150px;
  height: auto;
}
.quote {
  color: white;
  font-weight: 300;
  text-align: right;
}
.quote span {
  color: var(--soft-blue);
}
div .menu-images a {
  color: white;
  font-size: 1.5rem;
}
.menu-images--container {
  display: grid;
  place-content: center;
}
.menu-images {
  display: grid;
  grid-template-rows: 150px 150px;
  grid-auto-columns: 150px;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  list-style: none;
  gap: 25px;
  padding-top: 30px;
  padding-bottom: 100px;
}
.menu-images img {
  border-radius: 30px;
  max-width: 60px;
  height: auto;
  place-self: center;
}
.menu-images img:hover {
  cursor: pointer;
}
.menu-images a:hover {
  cursor: pointer;
}
.menu-images .pet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-images span {
  display: grid;
  text-align: center;
}
.pencil-drawings {
  min-width: 320px;
  background: linear-gradient(180deg, #010c14 16%, #083a5f 100%) no-repeat;
}

.pencil-drawings h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 15px;
  font-weight: 100;
  font-family: "Raleway";
}
.paralelogram-images--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.paralelogram-images--container .wrapper {
  display: grid;
  grid-template-columns: repeat(6, 40px);
  grid-template-rows: repeat(4, 40px);
  place-content: center;
}
.image-1 {
  background-image: url("./Assets/images-phone/Pencil-drawings/PAME_shaped_300px.png");
  background-repeat: no-repeat;
  grid-area: 1 / 1 / 3 / 4;
  background-size: contain;
}
.image-2 {
  background-size: contain;
  grid-area: 2 / 3 / 6 / 7;
  background-image: url("./Assets/images-phone/Pencil-drawings/PAME_shaped_300px.png");
  background-repeat: no-repeat;
  opacity: 55%;
}
.images-container--slider {
  display: flex;
  height: 350px;
  width: 250px;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 20px;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.images-container--slider img {
  position: relative;
  scroll-snap-align: center;
  width: 250px;
  height: 320px;
  border-radius: 20px;
}

.charcoal-drawings {
  width: 100vw;
  height: 700px;
  background: url("./Assets/images-phone/backgrounds/Edwincen-drawing-background.png");
  background-repeat: no-repeat;
}
.charcoal-drawings h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 15px;
  font-weight: 100;
  font-family: "Raleway";
}
.digital-drawings {
  background-image: url("./Assets/images-phone/backgrounds/background-digital-796.png");
  background-repeat: no-repeat;
  width: 100vw;
  height: 700px;
}
.digital-drawings h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 15px;
  font-weight: 100;
  font-family: "Raleway";
}
.pet-portraits {
  background-image: url("./Assets/images-phone/backgrounds/background-pet-574.png");
  background-repeat: no-repeat;
  width: 100vw;
  height: 700px;
}
.pet-portraits h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 15px;
  font-weight: 100;
  font-family: "Raleway";
}
.contact-me {
  background: linear-gradient(180deg, #010c14 16%, #083a5f 100%) no-repeat;
  width: 100vw;
  height: 700px;
}
.contact-me h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 15px;
  font-weight: 100;
  font-family: "Raleway";
}
footer {
  background: black;
  width: 100vw;
  height: 150px;
}
